/* YOUR STYLING HERE */
body {
  background-color: #E5F3F4;
}
.title {
  margin: auto;
  color: #36BDCB;
}
hr {
  color: #828484;
}
.blurb {
  margin: auto;
  font-size: 1em;
  color: #828484;
}
.partner {
  margin: auto;
  width: 50vw;
}
